In [1]:
a=10
b=4

In [2]:
print(a & b)
print(a | b)
print(~a)

0
14
-11

In [3]:
a1 = 3
b1 = 3
a2 ='Hello'  
b2 = 'Hello'

SyntaxError: invalid character in identifier (<ipython-input-3-fcb6fe394fa7>, line 3)

In [4]:
print(a1 is not b1) 
print(a2 is b2)

NameError: name 'a1' is not defined

In [5]:
x = 'Hello There!!'  
  
print('H' in x) 
  
print('Hello' not in x) 
  
print('hello' not in x)

True
False
True

In [7]:
a = "I Love Pyton"
print (a)

I Love Pyton

In [10]:
a='Hello'
b='world'

print(a+' '+b)

Hello world

In [11]:
print(a*5)

HelloHelloHelloHelloHello

In [12]:
print(a+' '*5)

Hello

In [13]:
print((a+' ')*5)

Hello Hello Hello Hello Hello

In [14]:
a='My name is Kaiwalya Koparkar'

In [15]:
a.count('a')

6

In [16]:
a.find('K')

11

In [17]:
print("Mohammad has {} ballons".format(27))

Mohammad has 27 ballons

In [19]:
animal='dog'
action='bite'

print("Does your {} {} ?".format(animal,action))

Does your dog bite ?

In [20]:
b='My name is Kaiwalya Kopakar'

In [22]:
b.split()

['My', 'name', 'is', 'Kaiwalya', 'Kopakar']

In [25]:
b.split(' ',2)

['My', 'name', 'is Kaiwalya Kopakar']

In [26]:
b.split('.')

['My name is Kaiwalya Kopakar']

In [27]:
b.split('.',3)

['My name is Kaiwalya Kopakar']

In [29]:
b.split(None, 3)

['My', 'name', 'is', 'Kaiwalya Kopakar']

In [30]:
L = [1, "a" , "string" , 1+2] 
print(L)

[1, 'a', 'string', 3]

In [31]:
List = [ ] 
print("Intial blank List: ")  
print(List)
List.append(1) 
List.append(2) 
List.append(4) 
List.append(5)
print("\nList after Addition of Three elements: ") 
print(List)

Intial blank List:
[]

List after Addition of Three elements:
[1, 2, 4, 5]

In [32]:
List.insert(3, 12)  
print(List)   
print(List[0])                                                  
print(List[2])                                                  
List.remove(4)
print(List)         
List.pop()
print(List)                                             
List.pop(2) 
print(List)

[1, 2, 4, 12, 5]
1
4
[1, 2, 12, 5]
[1, 2, 12]
[1, 2]

In [33]:
list=[1,5,3,6]
max(list)

6

In [34]:
min(list)

1

In [35]:
sorted(list)

[1, 3, 5, 6]

In [36]:
print(list)

[1, 5, 3, 6]

In [38]:
Tuple1 = (0, 1, 2, 3) 
Tuple2 = ('Python', 'For', 'Geeks') 
Tuple3 = Tuple1 + Tuple2 
# Printing first Tuple 
print("Tuple 1: ") 
print(Tuple1) 
# Printing Second Tuple 
print("\nTuple2: ") 
print(Tuple2) 
# Printing Final Tuple 
print("\nTuples after Concatenation: ") 
print(Tuple3)

Tuple 1:
(0, 1, 2, 3)

Tuple2:
('Python', 'For', 'Geeks')

Tuples after Concatenation:
(0, 1, 2, 3, 'Python', 'For', 'Geeks')

In [39]:
set1 = set([1, 2, 4, 4, 3, 3, 3, 6, 5])
print("\nSet with the use of Numbers: ")
print(set1)

Set with the use of Numbers:
{1, 2, 3, 4, 5, 6}

In [40]:
set1 = set([1, 2, 'Geeks', 4, 'For', 6, 'Geeks'])
print("\nSet with the use of Mixed Values")
print(set1)

Set with the use of Mixed Values
{1, 2, 4, 6, 'Geeks', 'For'}

In [41]:
# Creating a Set
set1 = set()
print("Intial blank Set: ")
print(set1)
  
# Adding element to the Set
set1.add(8)
set1.add(9)
set1.add(12)
print("\nSet after Addition of Three elements: ")
print(set1)

Intial blank Set:
set()

Set after Addition of Three elements:
{8, 9, 12}

In [42]:
set1.update([10, 11]) 
print("\nSet after Addition of elements using Update: ") 
print(set1)

Set after Addition of elements using Update:
{8, 9, 10, 11, 12}

In [43]:
set1 = set([1, 2, 3, 4, 5, 6, 
            7, 8, 9, 10, 11, 12])
print("Intial Set: ")
print(set1)
  
# Removing elements from Set
# using Remove() method
set1.remove(5)
set1.remove(6)
print("\nSet after Removal of two elements: ")
print(set1)

Intial Set:
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12}

Set after Removal of two elements:
{1, 2, 3, 4, 7, 8, 9, 10, 11, 12}

In [44]:
set1.discard(8)
set1.discard(9)
print("\nSet after Discarding two elements: ")
print(set1)

Set after Discarding two elements:
{1, 2, 3, 4, 7, 10, 11, 12}

In [45]:
set1.pop()
print(set1)

{2, 3, 4, 7, 10, 11, 12}

In [46]:
set1.clear()
print(set1)

set()